body {
  font-family: Arial;
  background-color: #f4f4f4;
  text-align: center;
}

h1 {
  color: #333;
}

form {
  margin-top: 20px;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
}